.json-key {
    color: brown;
}
.json-value {
    color: navy;
}
.json-string {
    color: olive;
}
pre.json-pre {
    height: auto;
    overflow: auto;
    max-height: 340px;
    max-width: 1100px;
    background-color: transparent;
}